{{ define "global/404.go.tmpl" }}
<html lang="en">
    {{ template "global/head.go.tmpl" . }}
    <body>
	  	<div class="wrapper __container">
            <header class="header __container">
                <div class="header__wrap ">
                    <a class="logo" href="#">
                        <picture>
                            <source srcset="/assets/img/logo-404.webp" type="image/webp">
                            <img src="/assets/img/logo-404.png" />
                        </picture>
                    </a>
                </div>
            </header>
            <main class="page">
                <!-- =======Section album============================ -->
                <div class="album">
                    <div class="bg-decor">
                        <picture>
                            <source srcset="/assets/img/logosback.webp" type="image/webp">
                            <img src="/assets/img/logosback.png">
                        </picture>
                    </div>
                </div>
                <!-- ========Section lable-music==================== -->
                <div class="lable-music nota-404">
                    <div class="bg-nota">
                        <picture>
                            <source srcset="/assets/img/nota-404.webp" type="image/webp">
                            <img src="/assets/img/nota-404.png">
                        </picture>
                    </div>
                    <div class="bg-404">
                        <picture>
                            <source srcset="/assets/img/404.webp" type="image/webp">
                            <img src="/assets/img/404.png" alt="404">
                        </picture>
                    </div>
                    <h1>
                        <span>Oops...</span>
                        It seems that this page does not exist.
                    </h1>
                    <button>back</button>
                </div>
                <!-- =========Section sidebar========================= -->
                <div class="sidebar">
                    {{ template "global/login-icon.go.tmpl" . }}
                </div>
            </main>
        </div>
        {{ template "global/footer.go.tmpl" }}
        {{ template "global/scripts.go.tmpl" }}
    </body>
</html>   
{{ end }}