{{ define "global/footer.go.tmpl" }}
<footer class="footer">
	<div class="footer__wrap">
		<div class="footer__link">
			<a href="/privacy">privacy policy</a>
			<a href="/terms">terms and conditions</a>
			<a href="/about">synonym.fans</a>
		</div>
		<a href="/" class="footer__copy">© South Chertanovo Records
			<span>2020–2023&nbsp;</span><span>| all rights reserved</span>
		</a>
	</div>
</footer>
{{ end }}