{{ define "global/footer.go.tmpl" }}
<footer class="footer">
	<div class="footer__wrap">
		<div class="social-list">
			<a href="#" class="social-list__item">
				<picture>
					<source srcset="/assets/img/icons/twitter.webp" type="image/webp">
					<img src="/assets/img/icons/twitter.png" alt="twitter" />
				</picture>
				we on twitter
			</a>
			<a href="#" class="social-list__item">
				<picture>
					<source srcset="/assets/img/icons/fb.webp" type="image/webp">
					<img src="/assets/img/icons/fb.png" alt="facebook" />
				</picture>
				we on facebook
			</a>
		</div>
		<div class="footer__link">
			<a href="/privacy">privacy policy</a>
			<a href="/terms">terms and conditions</a>
			<a href="/about">synonym.fans</a>
		</div>
		<a href="#" class="footer__copy">© South Chertanovo Records
			<span>2020–2023&nbsp;</span><span>| all rights reserved</span>
		</a>
	</div>
</footer>
{{ end }}