{{ define "global/footer.go.tmpl" }}
<footer class="footer">
	<div class="footer__wrap">
		<div class="social-list">
			<a href="#" class=" social-list__item-1">we on twitter</a>
			<a href="#" class=" social-list__item-2">we on facebook</a>
		</div>
		<div class="footer__link">
			<a href="#">privacy policy</a>
			<a href="#">terms and conditions</a>
			<a href="#">synonym.fans</a>
		</div>
		<a href="#" class="footer__copy">© South Chertanovo Records
			<span>2020–2022&nbsp;</span><span>| all rights reserved</span>
		</a>
	</div>
</footer>
{{ end }}