{{ define "global/guest.go.tmpl" }}
<html lang="en">
    {{ template "global/head.go.tmpl" . }}
    <body>
	  	<div class="wrapper __container">
          {{ template "global/header.go.tmpl" . }}
            <main class="page">
                <!-- =======Section album============================ -->
                <div class="album">
                    <div class="bg-decor">
                        <picture>
                            <source srcset="/assets/img/logosback.webp" type="image/webp">
                            <img src="/assets/img/logosback.png">
                        </picture>
                    </div>
                    <div class="album__links">
               <span class="dots"></span>
        {{ range .Artists }}
        <a href="/artists/{{ .Slug }}" class="album__link">{{ .Name }}</a>
        {{ end }}
               </div>
				</div>
				<div class="group-radio">
					<label>
						<input checked type="radio" name="filter" value="1" class="real-radio-btn">
						<span class="custom-radio-btn"></span>
						<span id="count1">0</span>
						albums
					</label>
					<label>
						<input type="radio" name="filter" value="2" class="real-radio-btn">
						<span class="custom-radio-btn"></span>
						<span id="count2">0</span>
						single
					</label>
					<label>
						<input type="radio" name="filter" value="3" class="real-radio-btn">
						<span class="custom-radio-btn"></span>
						<span id="count3">0</span>
						compilations
					</label>
				</div>
                </div>
                <!-- ========Section lable-music==================== -->
                <div class="lable-music nota-404">
                    <div class="bg-nota">
                        <picture>
                            <source srcset="/assets/img/nota-404.webp" type="image/webp">
                            <img src="/assets/img/nota-404.png">
                        </picture>
                    </div>
                  <div class="filter-guest">
					<div class="filter-guest__btn">
						sort by
					</div>
					<div class="filter-guest__list">
						<div class="filter-guest__item" id="sortAscBtn">
							<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.979 10.55L11.986 7H14L14 14H7V11.986L10.55 11.979L0 1.429L1.429 0L11.979 10.55Z" fill="#9F9F9F" />
							</svg>
							year
						</div>
						<div class="filter-guest__item" id="sortDescBtn">
							<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.979 3.45L11.986 7H14L14 0H7V2.014L10.55 2.021L0 12.571L1.429 14L11.979 3.45Z" fill="#9F9F9F" />
							</svg>
							year
						</div>
						<div class="filter-guest__item" id="sortA">
							<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.979 10.55L11.986 7H14L14 14H7V11.986L10.55 11.979L0 1.429L1.429 0L11.979 10.55Z" fill="#9F9F9F" />
							</svg>a-z
						</div>
						<div class="filter-guest__item" id="sortZ">
							<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.979 3.45L11.986 7H14L14 0H7V2.014L10.55 2.021L0 12.571L1.429 14L11.979 3.45Z" fill="#9F9F9F" />
							</svg>
							z-a
						</div>
					</div>
				</div>
				<ul id="content-albums" class="guest sort__list">
					<li class="guest__item">
						<div class="guest__image"><picture><source srcset="/assets/img/guest/1.webp" type="image/webp"><img src="/assets/img/guest/1.jpg" alt=""></picture></div>
						<div class="guest__content">
							<div class="guest__year">2022</div>
							<h6 class="guest__title">Planescape of Limits</h6>
							<div class="guest__status">album</div>
						</div>
					</li>
					<li class="guest__item">
						<div class="guest__image"><picture><source srcset="/assets/img/guest/2.webp" type="image/webp"><img src="/assets/img/guest/2.jpg" alt=""></picture></div>
						<div class="guest__content">
							<div class="guest__year">2015</div>
							<h6 class="guest__title">Jaskdb lndcsd</h6>
							<div class="guest__status">album</div>
						</div>
					</li>
					<li class="guest__item">
						<div class="guest__image"><picture><source srcset="/assets/img/guest/3.webp" type="image/webp"><img src="/assets/img/guest/3.jpg" alt=""></picture></div>
						<div class="guest__content">
							<div class="guest__year">2021</div>
							<h6 class="guest__title">Planescape </h6>
							<div class="guest__status">album</div>
						</div>
					</li>
				</ul>
				<ul id="content-single" class="guest sort__list">
					<li class="guest__item">
						<div class="guest__image"><picture><source srcset="/assets/img/guest/3.webp" type="image/webp"></assets/img src="img/guest/3.jpg" alt=""></picture></div>
						<div class="guest__content">
							<div class="guest__year">2022</div>
							<h6 class="guest__title">APlanescape of Limits</h6>
							<div class="guest__status">single</div>
						</div>
					</li>
					<li class="guest__item">
						<div class="guest__image"><picture><source srcset="/assets/img/guest/3.webp" type="image/webp"><img src="/assets/img/guest/3.jpg" alt=""></picture></div>
						<div class="guest__content">
							<div class="guest__year">2013</div>
							<h6 class="guest__title">Jaskdb lndcsd</h6>
							<div class="guest__status">single</div>
						</div>
					</li>
				</ul>
				<ul id="content-compilations" class="guest sort__list">
					<li class="guest__item">
						<div class="guest__image"><picture><source srcset="/assets/img/guest/3.webp" type="image/webp"><img src="/assets/img/guest/3.jpg" alt=""></picture></div>
						<div class="guest__content">
							<div class="guest__year">2022</div>
							<h6 class="guest__title">Planescape of Limits</h6>
							<div class="guest__status">compilations</div>
						</div>
					</li>
					<li class="guest__item">
						<div class="guest__image"><picture><source srcset="/assets/img/guest/2.webp" type="image/webp"><img src="/assets/img/guest/2.jpg" alt=""></picture></div>
						<div class="guest__content">
							<div class="guest__year">2015</div>
							<h6 class="guest__title">Jaskdb lndcsd</h6>
							<div class="guest__status">compilations</div>
						</div>
					</li>
				</ul>
				<button class="share-link" data-modal-button="share"><picture><source srcset="/assets/img/icons/icon-link.webp" type="image/webp"></assets/img src="img/icons/icon-link.png" alt="share link" /></picture>share link</button>
                </div>
                  {{ template "releases/share-links.go.tmpl" . }}
                <!-- =========Section sidebar========================= -->
                <div class="sidebar">
                 <div class="guest__social">
					<div class="guest__social-title">Follow us:</div>
					<a href="#" class="social-list__item">
						<picture><source srcset="/assets/img/icons/twitter.webp" type="image/webp"><img src="/assets/img/icons/twitter.png" alt="twitter"></picture>twitter
					</a>
					<a href="#" class="social-list__item">
						<picture><source srcset="/assets/img/icons/fb.webp" type="image/webp"><img src="/assets/img/icons/fb.png" alt="facebook"></picture>facebook
					</a>
					<a href="#" class="social-list__item">
						<picture><source srcset="/assets/img/icons/insta.webp" type="image/webp"><img src="/assets/img/icons/insta.png" alt="facebook"></picture>instagram
					</a>
				</div>
                </div>
            </main>
        </div>
        {{ template "global/footer.go.tmpl" }}
        {{ template "global/scripts.go.tmpl" }}
    </body>
</html>   
{{ end }}