{{ define "global/login-icon.go.tmpl" }}
<a class="user" href="{{ .ManagementAppEndpoint }}">
    <picture>
        <source srcset="/assets/img/icons/icon-user.webp" type="image/webp">
        <img src="/assets/img/icons/icon-user.png" alt="user" />
    </picture>
</a>
{{ end }}