{{ define "global/our-social-networks.go.tmpl" }}
<div class="social-list">
    <a href="#" class="social-list__item">
        <picture>
            <source srcset="/assets/img/icons/twitter.webp" type="image/webp">
            <img src="/assets/img/icons/twitter.png" alt="twitter" />
        </picture>
        we on twitter
    </a>
    <a href="#" class="social-list__item">
        <picture>
            <source srcset="/assets/img/icons/fb.webp" type="image/webp">
            <img src="/assets/img/icons/fb.png" alt="facebook" />
        </picture>
        we on facebook
    </a>
</div>
{{ end }}