{{ define "global/our-social-networks.go.tmpl" }}
<div class="social-list">
    <a href="#" class="social-list__item">
            <img src="/assets/img/icons/twitter.svg" alt="twitter" />
        we on twitter
    </a>
    <a href="#" class="social-list__item">
            <img src="/assets/img/icons/fb.svg" alt="facebook" />
        we on facebook
    </a>
</div>
{{ end }}