{{ define "global/share-links.go.tmpl" }}
<button class="share-link" data-modal-button="share">
    <picture>
        <source srcset="/assets/img/icons/icon-link.webp" type="image/webp">
        <img src="/assets/img/icons/icon-link.png" alt="share link" />
    </picture>share link
</button>
<div class="popup hidden" id="share-modal" data-modal>
    <div class="popup__content">
        <div class="popup__body" style="background-image: url(/assets/img/nota-share.png);">
            <div class="popup__share" style="background-image: url(/assets/img/icons/share.png);">share</div>
            <div class="popup__media">
                <span>social media</span>
                <div class="popup__media-items">
                    {{ $pageUrl := .PageUrl }}
                    {{ $pageTitle := .PageTitle }}
                    {{ range $id := .ShareableSocialNetworkIds }}
                    {{ $icon := getSocialNetworkIconPath $id }}
                    <a href="{{ generateShareLink $id $pageUrl $pageTitle }}" class="popup__media-item {{ $id }}" style="background-image: url(/assets/img/icons/{{ $icon }}.svg);"></a>
                    {{ end }}
                </div>
            </div>
            <div class="popup__link">
                <span>direct link</span>
                <div class="popup__link-text" id="text">
                    {{ generateShareLink "" .PageUrl .PageTitle }}
                    <button id="copy" style="background-image: url(/assets/img/icons/copy.png);">
                    </button>
                    <div class="copy-link"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }} 