{{ define "global/share-links.go.tmpl" }}
<button class="share-link" data-modal-button="share">
    <picture>
        <source srcset="/assets/img/icons/icon-link.webp" type="image/webp">
        <img src="/assets/img/icons/icon-link.png" alt="share link" />
    </picture>share link
</button>
<div class="popup hidden" id="share-modal" data-modal>
    <div class="popup__content">
        <div class="popup__body" style="background-image: url(/assets/img/nota-share.png);">
            <div class="popup__share" style="background-image: url(/assets/img/icons/share.png);">share</div>
            <div class="popup__media">
                <span>social media</span>
                <div class="popup__media-items">
                    <a href="{{ generateShareLink  .SocialNatworkIds.Facebook .PageUrl .PageTitle }}" class="popup__media-item facebook" style="background-image: url(/assets/img/icons/facebook.svg);"></a>
                    <!--a href="{{ generateShareLink .SocialNatworkIds.Instagram .PageUrl .PageTitle }}" class="popup__media-item instagram" style="background-image: url(/assets/img/icons/instagram.svg);"></a-->
                    <a href="{{ generateShareLink .SocialNatworkIds.Telegram .PageUrl .PageTitle }}" class="popup__media-item telegram" style="background-image: url(/assets/img/icons/telegram.svg);"></a>
                    <a href="{{ generateShareLink .SocialNatworkIds.Twitter .PageUrl .PageTitle }}" class="popup__media-item  twitter" style="background-image: url(/assets/img/icons/twitter.svg);"></a>
                    <a href="{{ generateShareLink .SocialNatworkIds.Vk .PageUrl .PageTitle }}" class="popup__media-item vk" style="background-image: url(/assets/img/icons/vk.svg);"></a>
                </div>
            </div>
            <div class="popup__link">
                <span>direct link</span>
                <div class="popup__link-text" id="text">
                    {{ generateShareLink "" .PageUrl .PageTitle }}
                    <button id="copy" style="background-image: url(/assets/img/icons/copy.png);">
                    </button>
                    <div class="copy-link"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }} 