{{ define "artist-details.go.tmpl" }}
<div class="album">
    <div class="bg-decor">
        <picture>
            <source srcset="/assets/img/logosback.webp" type="image/webp">
            <img src="/assets/img/logosback.png">
        </picture>
    </div>
    {{ template "artist-release-number.go.tmpl" . }}
</div>
{{ end }}