{{ define "artist-release-number.go.tmpl" }}
<div class="group-checkbox">
    <label>
        <input type="checkbox" name="filter" value="album" class="real-checkbox-btn">
        <span class="custom-checkbox-btn"></span>
        <span id="count1">{{ .AlbumNumber }}</span>
        {{ getGramaticalNumber .AlbumNumber "album" "albums" }}
    </label>
    <label>
        <input type="checkbox" name="filter" value="single" class="real-checkbox-btn">
        <span class="custom-checkbox-btn"></span>
        <span id="count2">{{ .SingleNumber }}</span>
        {{ getGramaticalNumber .SingleNumber "single" "singles" }}
    </label>
    <label>
        <input type="checkbox" name="filter" value="compilation" class="real-checkbox-btn">
        <span class="custom-checkbox-btn"></span>
        <span id="count3">{{ .CompilationNumber }}</span>
        {{ getGramaticalNumber .CompilationNumber "compilation" "compilations" }}
    </label>
</div>
{{ end }}