{{ define "artist-social-networks.go.tmpl" }}
<div class="guest__social">
    <div class="guest__social-title">
        Follow us:
    </div>
    <a href="#" class="social-list__item">
        <picture><source srcset="/assets/img/icons/twitter.webp" type="image/webp"><img src="/assets/img/icons/twitter.png" alt="twitter"></picture>twitter
    </a>
    <a href="#" class="social-list__item">
        <picture><source srcset="/assets/img/icons/fb.webp" type="image/webp"><img src="/assets/img/icons/fb.png" alt="facebook"></picture>facebook
    </a>
    <a href="#" class="social-list__item">
        <picture><source srcset="/assets/img/icons/insta.webp" type="image/webp"><img src="/assets/img/icons/insta.png" alt="instagram"></picture>instagram
    </a>
</div>
{{ end }}