{{ define "artist-social-networks.go.tmpl" }}
<div class="guest__social">
    {{ if ne (len .SocialNetworks ) 0 }}
    <div class="guest__social-title">
        Follow us:
    </div>
    {{ range $id, $url := .SocialNetworks }}
    {{ $icon := getSocialNetworkIconPath $id }}
    <a href="{{ $url }}" class="social-list__item">
        <picture>
            <source srcset="/assets/img/icons/{{ $icon }}.webp" type="image/webp">
            <img src="/assets/img/icons/{{ $icon }}.png" alt="{{ $id }}">
        </picture>
        {{ $id }}
    </a>
    {{ end }}
    {{ end }}
</div>
{{ end }}