{{ define "slim-release-details.go.tmpl" }}
<ul id="content-albums" class="guest sort__list">
{{ range .Releases }}
    {{ $typeId := getReleaseTypeId .Type }}
    <li class="guest__item">
        <div class="guest__image">
            <picture>
                <img src="{{ .ImageDetails.Url }}" alt="{{ .ImageDetails.AltText }}">
                <source srcset="{{ .ImageDetails.Url }}" type="image/webp">
            </picture>
        </div>
        <div class="guest__content">
            <div class="guest__year">{{ .ReleaseDate }}</div>
            <a href="/releases/{{ .Slug }}">
                <h6 class="guest__title">{{ .Name }}</h6>
            </a>
            <div class="guest__status" id="{{ $typeId }}">{{ .Type }}</div>
        </div>
    </li>
{{ end }}
</ul>
{{ end }}