{{ define "release-details.go.tmpl" }}
<div class="album">
    <div class="bg-decor">
        <picture>
            <source srcset="/assets/img/logosback.webp" type="image/webp">
            <img src="/assets/img/logosback.png">
        </picture>
    </div>
    <div class="album__links">
        {{ range .Artists }}
        <a href="/artists/{{ .Slug }}" class="album__link">{{ .Name }}</a>
        {{ end }}
          </div>
      {{ template "release-number.go.tmpl" . }}
    <div class="title">
        <h1 class="title__title">{{ .Name }}</h1>
        <span class="title__year">{{ .Date }}</span>
    </div>
    <div class="album__img">
        <picture>
            <img src="{{ .ImageDetails.Url }}" alt="{{ .ImageDetails.AltText }}">
            <source srcset="/assets/img/cover.webp" type="image/webp">
        </picture>
    </div>
    {{ template "track-details.go.tmpl" . }}
    <p class="album__description">
        {{ .Description }}
    </p>
</div>
{{ end }}