{{ define "release.go.tmpl" }}
<html lang="en">
{{ template "global/head.go.tmpl" . }}
<body>
	<div class="bg-color"></div>
     <div class="wrapper __container">
        {{ template "global/header.go.tmpl" . }}
		<main class="page">
			{{ template "release-details.go.tmpl" . }}
			{{ template "streaming-platforms.go.tmpl" . }}
			<div class="tags">
				<button class="user">
					<picture>
						<source srcset="/assets/img/icons/icon-user.webp" type="image/webp">
						<img src="/assets/img/icons/icon-user.png" alt="user" />
					</picture>
				</button>
				{{ template "tags.go.tmpl" . }}
			</div>
		</main>
		{{ template "global/footer.go.tmpl" }}
    </div>
	{{ template "global/scripts.go.tmpl" }}
</body>
</html>   
{{ end }}