{{ define "release-number.go.tmpl" }}
<div class="link">
    <a href="#" class="link__albums">
        {{ if eq $.SoleReleaseNumber "1" }}
        1 release
        {{ else }}
        {{ .SoleReleaseNumber }} releases
        {{ end }}
    </a>
    <a href="#" class="link__compilations">
        {{ if eq .CompilationNumber "1" }}
        1 compilation
        {{ else }}
        {{ .CompilationNumber }} compilations
        {{ end }}
    </a>
</div>
{{ end }}