{{ define "release-number.go.tmpl" }}
<div class="link">
    <a href="/artists/{{ (index .Artists 0).Slug }}?filter=albums" class="link__albums">
        {{ $soleReleaseNumber := convertToInt .SoleReleaseNumber }}
        {{ if eq $soleReleaseNumber 1 }}
        1 release
        {{ else }}
        {{ $soleReleaseNumber }} releases
        {{ end }}
    </a>
    <a href="/artists/{{ (index .Artists 0).Slug }}?filter=compilations" class="link__compilations">
        {{ $compilationNumber := convertToInt .CompilationNumber }}
        {{ if eq $compilationNumber 1 }}
        1 compilation
        {{ else }}
        {{ $compilationNumber }} compilations
        {{ end }}
    </a>
</div>
{{ end }}