{{ define "streaming-platforms.go.tmpl" }}
<div class="lable-music">
    <h3 class="lable-music__title">Listen our music on your<br>favourite streaming platform:</h3>
    <ul class="lable-music__list">
        {{ $platformName := "" }}
        {{ $platformIconPath := "" }}
        {{ range $i, $platform := .StreamingPlatforms}}
            {{ $platformName = getPlatformName $platform.Id }}
            {{ $platformIconPath = getPlatformIconPath $platform.Id }}
            <li class="lable-music__list-item" style="background-image:url('/assets/img/{{ $platformIconPath }}') ;">
                <a href="{{ $platform.Url }}">{{ $platformName }}</a>
            </li>
        {{ end }}
    </ul>
    {{ if gt (len .StreamingPlatforms) 5 }}
  
    {{ end }}
          <button class="share-link">
					<picture>
						<source srcset="/assets/img/icons/icon-link.webp" type="image/webp">
						<img src="/assets/img/icons/icon-link.png" alt="share link" />
					</picture>share link
        </button>
</div>
{{ end }}