{{ define "streaming-platforms.go.tmpl" }}
<div class="lable-music">
    <h3 class="lable-music__title">Listen our music on your<br>favourite streaming platform:</h3>
    <ul class="lable-music__list">
        {{ $platformName := "" }}
        {{ $platformIconPath := "" }}
        {{ range $i, $platform := .StreamingPlatforms}}
            {{ $platformName = getPlatformName $platform.Id }}
            {{ $platformIconPath = getPlatformIconPath $platform.Id }}
            <li class="lable-music__list-item" style="background-image:url('/assets/img/{{ $platformIconPath }}') ;">
                <a href="{{ $platform.Url }}">{{ $platformName }}</a>
            </li>
        {{ end }}
    </ul>
    {{ if gt (len .StreamingPlatforms) 5 }}
    <button class="lable-music__btn _icon-check-mark">more</button>
    {{ end }}
    <button class="share-link">share link</button>
</div>
{{ end }}