{{ define "streaming-platforms.go.tmpl" }}
<div class="lable-music">
    <div class="bg-nota">
        <picture>
            <source srcset="/assets/img/bg.webp" type="image/webp">
            <img src="/assets/img/bg.png">
        </picture>
    </div>
    <h3 class="lable-music__title">
        Listen our music on your<br>
        favourite streaming platform:
    </h3>
    <ul class="lable-music__list">
        {{ $platformName := "" }}
        {{ $platformIconPath := "" }}
        {{ range $i, $platform := .StreamingPlatforms}}
            {{ $platformName = getPlatformName $platform.Id }}
            {{ $platformIconPath = getPlatformIconPath $platform.Id }}
            <li class="lable-music__list-item">
            <img src="/assets/img/{{ $platformIconPath }}" alt="{{ $platformName }}">
                <a href="{{ $platform.Url }}">{{ $platformName }}</a>
            </li>
        {{ end }}
    </ul>
    {{ template "share-links.go.tmpl" . }}
</div>
{{ end }}