{{ define "tags.go.tmpl" }}
<div class="tags">
           <button class="user">
					<picture>
						<source srcset="/assets/img/icons/icon-user.webp" type="image/webp">
						<img src="/assets/img/icons/icon-user.png" alt="user" />
					</picture>
				</button>
    <div class="tags__items">
    {{ range .Tags }}
    <a href="#" class="tags__item">{{ . }}</a>
    {{ end }}
    </div>
</div>
{{ end }}