{{ define "tags.go.tmpl" }}
<div class="tags">
           <button class="user">
					<picture>
						<source srcset="img/icons/icon-user.webp" type="image/webp">
						<img src="img/icons/icon-user.png" alt="user" />
					</picture>
				</button>
    {{ range .Tags }}
    <a href="#" class="tags__item">{{ . }}</a>
    {{ end }}
</div>
{{ end }}