{{ define "track-details.go.tmpl" }}
<ol class="album__list">
    {{ range .Tracks }}
    <li  class="album__list-item">
        {{ .Name }}
        {{ if .IsExplicit }}

        {{ end }}
        {{ $len := sub (len .Artists) 1 }}
        {{ range $i, $artist := .Artists }}
        <a href="artists/{{ $artist.Slug }}">{{ $artist.Name }}</a>{{ if lt $i $len }}, {{ end }}
        {{ end }}
    </li>
    {{ end }}
</ol>
{{ end }}