{{ define "track-details.go.tmpl" }}
<ol class="album__list">
    {{ range .Tracks }}
    <li  class="album__list-item">
        {{ .Name }}
        {{ if not .IsExplicit }}🄴{{ end }}
        {{ range $i, $artist := .Artists }}
        <a href="artists/{{ $artist.Slug }}">{{ $artist.Name }}</a>
        {{ end }}
    </li>
    {{ end }}
</ol>
{{ end }}